
.dropbtn {
  background-color: #5CB3FF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family:Montserrat;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family:Montserrat;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family:Montserrat;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #157DEC;
}

.dropbtn:hover {
  background-color:#157DEC;
}

.body {
  background-color:#D1D0CE;
}

}
.main{
  width:100%;
  text-align:center;
}

#mainphoto img{
  display:block;
  width:100%;
  height:100%;
}

#maintext p{
  text-align:center;
  display:inline-block;
  font-size: 4vw;
  color:white;
  font-family:Montserrat;
}

#maintext{
  width:40%;
  text-align:center;
  padding:5%;
  position:absolute;
  margin: 0 auto;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.35);
  border-radius:30px;
}

.info h1{
  font-family: 'Montserrat';
  font-size:2.5vw;
  font-weight:bold;
  text-align:left;
  padding-top:5%;
}

.info p{
  font-family: 'Montserrat';
  font-size:2vw;
  text-align:justify;
}

.info{
  float:left;
  width:60%;
  padding:0 5%;
}

.images{
  display:block;
  text-align:right;
  padding-right:0%;
  padding-top:2.5%;
}

.text h1{
  padding:0 20%;
  font-family: 'Montserrat';
  font-size:2.5vw;
  font-weight:bold;
  text-align:center;
}
.text p{
  padding:0 20%;
  font-family: 'Montserrat';
  font-size:2vw;
  text-align:center;
}
button{
  margin:5% 0;
  font-size:5vw;
  color:white;
  font-family: 'Montserrat';
  background-color:#36bf5a;
  border:black solid 5px;
  border-radius:15px;
}

.buttons {
  position:absolute;
  margin-top:2250px;
  margin-left:90px;
}
body {
  background-color:#FDD7E4;
}
